//Fonts
$baseFont: 'IRANSans';

//Colors
$body-color-defualt: #f5f8fa;
$text-gray-600: #7e8299;

// Fonts Size
$root-font-size: 13px; // Root font size for desktop mode
$root-font-size-lg: 14px; // Root font size for tablet mode
$root-font-size-md: 12px; // Root font size for mobile mode

//Aside
$aside-bg: #1e1e2d;
$aside-menu-link: #9899ac;
